Source: plymouth-theme-hamonikr-jin
Section: admin
Priority: optional
Maintainer: Kevin Kim <chaeya@gmail.com>
Standards-Version: 4.1.4

Package: plymouth-theme-hamonikr-jin
Architecture: all
Depends:
Conflicts: 
Replaces: ubuntu-system-adjustments, mint-artwork, mint-artwork-common, mintsystem
Homepage: https://hamonikr.org
Description: hamonikr plymouth theme
  하모니카 4.0 loading screen theme
