Source: plymouth-theme-hamonikr
Section: admin
Priority: optional
Maintainer: Kevin Kim <chaeya@gmail.com>
Standards-Version: 4.1.4

Package: plymouth-theme-hamonikr
Architecture: all
Depends: plymouth
Conflicts: 
Recommends: 
Replaces: plymouth-theme-kumkang
Homepage: https://hamonikr.org
Description: Theme for Plymouth
 HamoniKR OS Theme for Plymouth, featuring a modern design.
