Package: hamonikr-plymouth
Version: 0.0.6-1
Architecture: all
Maintainer: HamoniKR Team (HamoniKR OS Developement Group) <hamonikr-packages@googlegroups.com>
Installed-Size: 8
Section: admin
Priority: optional
Homepage: https://hamonikr.org
Description: hamonikr-plymouth
  하모니카 3.0 OS 로딩 화면
